[submodule "deps/ocx-qemu-arm"]
	path = deps/ocx-qemu-arm
	url = https://github.com/snps-virtualprototyping/ocx-qemu-arm
[submodule "deps/vcml"]
	path = deps/vcml
	url = https://github.com/janweinstock/vcml
[submodule "deps/vcml-nvdla"]
	path = deps/vcml-nvdla
	url = https://github.com/aut0/vcml-nvdla.git
