##############################################################################
#                                                                            #
# Copyright 2023 Nils Bosbach, Lukas Jünger                                  #
#                                                                            #
# This software is licensed under the MIT license.                           #
# A copy of the license can be found in the LICENSE file at the root         #
# of the source tree.                                                        #
#                                                                            #
##############################################################################

system.desc = Boots Linux on a octa-core aarch64 CPU
system.nrcpu = 8
%include ${dir}/arm64_linux_4_19_4.cfg
