name: cmake

on:
  push:
    branches: [ master, dev** ]
  pull_request:
    branches: [ master ]

env:
  TARGET_ARCH: linux64

jobs:
  build:
    name: Build & Test AVP64
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        BUILD_TYPE: [Release, Debug]
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm, ubuntu-24.04-arm]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install build-essential libelf-dev libsdl2-dev libvncserver-dev libslirp-dev

      - name: Configure
        run: |
          cmake \
            -B ${{github.workspace}}/build \
            -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}} \
            -DAVP64_TESTS=ON \
            -DAVP64_VP=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.BUILD_TYPE}} -j $(nproc)

      - name: Download Software
        working-directory: ./sw
        run: |
          wget https://github.com/aut0/avp64_sw/releases/download/v2025.08.22/buildroot_6_5_6.tar.gz
          tar -xvf buildroot_6_5_6.tar.gz
          rm buildroot_6_5_6.tar.gz

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: |
          python3 -m venv .vevnv
          source .vevnv/bin/activate
          pip3 install -r ${{github.workspace}}/tests/requirements.txt
          ctest -C ${{matrix.BUILD_TYPE}} --output-on-failure --output-junit testreport.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: ${{github.workspace}}/build/testreport.xml
