name: nightly

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

env:
  TARGET_ARCH: linux64
  BUILD_TYPE: Release

jobs:
  build:
    name: Build & Test AVP64
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm, ubuntu-24.04-arm]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install \
            build-essential \
            libelf-dev \
            libsdl2-dev \
            libvncserver-dev \
            libslirp-dev \
            ninja-build

      - name: Configure
        run: |
          cmake \
            -G Ninja \
            -B ${{github.workspace}}/build \
            -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
            -DAVP64_TESTS=ON \
            -DAVP64_VP=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -j $(nproc)

      - name: Download Software
        working-directory: ./utils
        run: |
          ./fetch_buildroot_linux
          ./fetch_zephyr_app

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip3 install -r ${{github.workspace}}/tests/requirements.txt
          ctest -C ${{env.BUILD_TYPE}} --output-on-failure --output-junit testreport.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: ${{github.workspace}}/build/testreport.xml
